.header{
    background: green;
}
.header img{
    height: 50px;
    width: 90px;
    margin-top: 15px;
}
.menu{}
.menu ul{
    text-align: right;
}
.menu ul li{
    list-style: none;
    display: inline-block;
}
.menu ul li a{
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    line-height: 70px;
    padding: 0 10px;
    margin-top: 13px;
}
.menu ul li a:hover{
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    line-height: 70px;
    padding: 0 10px;
    margin-top: 13px;
    border-bottom: 4px solid red;
    padding-bottom: 31px;
    transition: .5s;
}
.banner{
    background-image: url(./intro-bg.jpg);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 230px 0 200px 0;
    background-attachment: fixed;
}
.text{
    color: #fff;
    margin-left: -55px;
}
.text h2{}


/* hover effect */
.text a{
    display: inline-block;
    position: relative;
    padding: 10px 18px;
    font-size: 20px;
    background: rgb(107, 180, 107);
    color: rgb(255, 255, 255);
    border: none;
    text-decoration: none;
    z-index: 1;
    border-radius: 3px;
}
.text a::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 0;
    left: 0;
    top: 0;
    z-index: -1;
    transition: .5s;
}
.text a:hover::before{
    width: 51%;
    background: rgb(29, 27, 29);
    color: #ffff;
}

.text a::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 0;
    right: 0;
    top: 0;
    z-index: -1;
    transition: .5s;
}
.text a:hover::after{
    width: 50%;
    background: red;
    
}
.team1{
    margin-bottom: 20px;
}
.team1 a{
    background: #000;
    color: #fff;
    position: relative;
    display: inline-block;
    padding: 10px 18px;
    text-decoration: none;
    margin-top: 10px;
    z-index: 1;
}
.team1 a{}

.team1 a::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 0;
    top: 0;
    right: 0;
    background: rgb(141, 48, 48);
    color: #fff;
    transition: .5s;
    z-index: -1;
}
.team1 a:hover::before{
    width: 100%;
}
.team2 a{
    background: #000;
    color: #fff;
    position: relative;
    display: inline-block;
    padding: 10px 18px;
    text-decoration: none;
    margin-top: 10px;
    z-index: 1;
}
.team2 a::before{
    content: "";
    position: absolute;
    height: 0;
    width: 100%;
    bottom: 0;
    right: 0;
    background: rgb(141, 48, 48);
    color: #fff;
    transition: .5s;
    z-index: -1;
}
.team2 a:hover::before{
    height: 100%;
}
.team3 a{
    background: #000;
    color: #fff;
    position: relative;
    display: inline-block;
    padding: 10px 18px;
    text-decoration: none;
    margin-top: 10px;
    z-index: 1;
}
.team3 a::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
    background: rgb(141, 48, 48);
    color: #fff;
    transition: .5s;
    z-index: -1;
}
.team3 a:hover::before{
    width: 100%;
}
.teamm{
    background-color: rgb(201, 201, 201);
}

/* testmoniyal section */

.contant{
    background: rgb(131, 164, 167);
    padding: 50px 0;
}
.contant h2{
    padding-bottom: 30px;
    font-size: 50px;
}

/* form */

.map{
    display: inline-block;
}
.form{
    float: right;
    margin-top: 0;
}
.formmm{
    border-radius: 15px;
}
.contact{
    padding: 50px 0;
    background: rgb(218, 218, 218);
}
.contact h2{
    padding-bottom: 50px;
    font-size: 50px;
}
.gh{
    border-radius: 4px;
    width: 350px;
    border: none;
}
.gh:hover{
    border: none;
}
.sd{
    padding: 6px 18px;
    font-size: 20px;
    border: none;
}
.sd:hover{
    padding: 6px 18px;
    font-size: 20px;
    color: #fff;
    background: #000;
    transition: .5s;
    border: none;
}

/* footer */
.footer{
    padding-bottom: 5px;
    background: rgb(18, 133, 187);
}
.footer p{
    font-size: 17px;
}
.footer p:first-child{
    margin-bottom: -2px;
}